body, html {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: $body-bg !important;
}

//login
.login-div {
    padding: 20px;
    background-color: white;
    position: absolute;
    width: 30%;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
