<template>
    <b-container style="height: 100%">

        <div class="login-div">
            <b-form @submit.prevent="onSubmit" @reset.prevent="onReset">
                <b-form-group
                    label="Email"
                    label-for="input-email">
                    <b-form-input id="input-email"
                                  v-model="form.email"
                                  @input="$v.form.email.$touch()"
                                  :state="$v.form.email.$dirty ? !$v.form.email.$error : null"
                                  placeholder="Email"
                                  trim></b-form-input>
                </b-form-group>

                <b-form-group
                    label="Password"
                    label-for="input-password">
                    <b-form-input id="input-password"
                                  v-model="form.password"
                                  @input="$v.form.password.$touch()"
                                  :state="$v.form.password.$dirty ? !$v.form.password.$error : null"
                                  type="password"
                                  placeholder="Password"
                                  trim></b-form-input>
                </b-form-group>

                <b-button :disabled="$v.form.$invalid" type="submit" variant="primary">Login</b-button>
            </b-form>
        </div>

    </b-container>
</template>
<script>
import {required, email} from 'vuelidate/lib/validators'

export default {
    data() {
        return {
            loading: false,
            form: {
                email: '',
                password: '',
            },
        }
    },
    validations: {
        form: {
            email: {
                required,
                email
            },
            password: {
                required
            }
        }
    },
    methods: {
        onSubmit() {
            this.$v.$touch()
            if (!this.$v.$invalid) {
                this.$inertia.post('/login', {
                    email: this.form.email,
                    password: this.form.password,
                })
            }
        },
        onReset() {
            this.form.email = '';
            this.form.password = '';
        }
    },
}
</script>
